@import './_breakpoints.scss';
@import './_mixins.scss';

$primary: rgba(165,255,238);
$secondary: rgba(255,240,245);
$dark-grey: #282626;
$white: #FFF;
$grey: #f7f3f3;
$light: #f9f9f9;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "darkGrey": $dark-grey,
    "white": $white,
    "grey": $grey,
    "light": $light,
);

:export {
  primary: $primary;
  secondary: $secondary;
}
